body{
    margin: 0;
    background-color: black;
}

header{
    color: rgb(255, 255, 255);
    text-align: left;
    font-size: 100px;
    font-family: 'Jolly Lodger', cursive;

}

h1{
    font-size: x-large;
    text-align: left;
    font-family: 'Nosifer', cursive;

    color: rgb(171, 32, 32);
    margin: auto;
}


p{
    text-align: left;
    font-family: 'Nosifer', cursive;
    font-size: 30px;
    color: rgb(255, 201, 4);
    margin: auto;
    padding: 10px;
}
