body{
    margin: 0;
    background-color: black;
}

header{
    color: white;
    text-align: center;
    font-size: 200px;
    font-family: 'Jolly Lodger', cursive;

}

p{
    text-align: center;
    font-family: 'Nosifer', cursive;
    font-size: 40px;
    color: white;
}

